USE [BooksDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllBooks]    Script Date: 10-10-2025 04:39:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllBooks]
AS
/*
    **********************Creation Details**********************
    Stored Procedure Name : [dbo].[usp_GetAllBooks]
    Purpose : This sp is used to get all Books In the Db
    Author : Jefrin Raj
    Created On : 10/10/2025
	EXEC [dbo].[usp_GetAllBooks]
    *****************************Revision Details*****************************
*/
BEGIN
    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

    SELECT 
        BookId,
        Title,
        Stock,
        AuthorId,
        Genre,
        LanguageId,
        Price,
        PublicationDate,
        Status
    FROM [dbo].[Books] -- Table Books Containing all the books 
    ORDER BY BookId ASC;
END;
GO
