USE [BooksDb]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10-10-2025 04:39:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Stock] [int] NOT NULL,
	[AuthorId] [int] NOT NULL,
	[Genre] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[PublicationDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [AuthorId]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [Genre]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [LanguageId]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (CONVERT([real],(0))) FOR [Price]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [PublicationDate]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Status]
GO
